<% if (locals.url.slice(0,8) !== '/?search') locals.query.filterClosed = 'x' %> 
<div class="filter <%= locals.query.filterClosed === 'x' ? '' : 'filter-active' %> ">
    <% locals.url.slice(0,8) === '/?search' ? locals.query.filterClosed = 'open' : 'x' %>   
    <%- include("../partials/search") %>   
    <form action="/products" method="get" id="mainFilter">
        <input 
            type="hidden" 
            name="search" 
            placeholder="Search product..."
            value="<%= query.search %>"          
        />        
        <label for="closeFilter" class="close-filter">
            <input type="submit" id="closeFilter" value="x" name="filterClosed"><img src="./images/close.svg"/></input>
        </label>          
        <h2>By categories:</h2>      
        <div class="filter-section category-filter-section">
            <% categories.forEach((category) => { %>
                <% if (category.name === "none") { %>
                    <div class="form-group no-category">     
                        <input type="checkbox" name="category" id="<%= category.name %>" value="<%= category.name %>" onchange="this.form.submit()"
                            <%= locals.query.category && locals.query.category.includes(category.name) ? 'checked' : '' %> />
                        <label class="no-category-name" for="<%= category.name %>">no category<span><%= category.productsQuantity > 0 ? category.productsQuantity : "" %></span></label>                          
                    </div>
                    <% return; }; %>
                <div class="form-group">     
                    <input type="checkbox" name="category" id="<%= category.name %>" value="<%= category.name %>" onchange="this.form.submit()"
                        <%= locals.query.category && locals.query.category.includes(category.name) ? 'checked' : '' %> />
                    <label class="category-name" for="<%= category.name %>"><%= category.name %><span><%= category.productsQuantity > 0 ? category.productsQuantity : "" %></span></label>                          
                </div>
            <% }) %>
        </div>
        <h2>By brands:</h2>        
        <div class="filter-section">
            <% brands.forEach((brand) => { %>                           
                <div class="form-group">     
                    <input type="checkbox" name="brand" id="<%= brand.name %>" value="<%= brand.name %>" onchange="this.form.submit()"
                        <%= locals.query.brand && locals.query.brand.includes(brand.name) ? 'checked' : '' %> />
                    <label class="brand-name" for="<%= brand.name %>"><%= brand.name %><span><%= brand.productsQuantity > 0 ? brand.productsQuantity : "" %></span></label>                          
                </div>
            <% }) %>
        </div>
        <h2>Sort by:</h2>
        <div class="filter-section">
            <%  const inputsSortBy = [
                    {value: "price_asc", labelText: "Price Low to High"},
                    {value: "price_desc", labelText: "Price High to Low"},
                    {value: "name_asc", labelText: "Product A to Z"},
                    {value: "name_desc", labelText: "Product Z to A"}
                ];      
                inputsSortBy.forEach((input) => { %>           
                <div class="form-group">     
                    <input type="radio" name="sort" id="<%= input.value %>" value="<%= input.value %>" onchange="this.form.submit()"
                        <%= locals.query.sort === input.value ? 'checked' : '' %>/>
                    <label for="<%= input.value %>"><%= input.labelText %></label>        
                </div> 
            <% }) %>
        </div>           
    </form>
</div>