<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <title><%= title %></title>
</head>  
    <body>
        <%- include("partials/navbar") %>
        <h1><%= title %></h1> 
        <form action="/products/edit/<%= product.id %>" method="POST" >
            <div>
                <label for="name">
                    Product name <span>*</span>
                </label>
                <input 
                    type="text" 
                    id="name" 
                    name="name"
                    value="<%= product.name%>"
                    required
                >
            </div>
            <a href="/products/<%= product.id %>">Cancel</a>
            <button type="submit">Update</button>
        </form>            
    </body>
</html>