<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <title><%= title %></title>
</head>  
    <body>
        <%- include("partials/header") %>
        <main>                            
            <ul class="products-list">
                <a href="/products/new" class="add-product-link">Add Product</a> 
                <% products.forEach((product) => { %>
                    <a href="/products/<%=product.id%>">
                        <li class="product">
                            <div class="image-container">
                                <img src="/images/product-1.webp">
                            </div> 
                            <div class="middle-div">
                                <h2><%= product.name %></h2>                                
                                <p>furniture</p>
                                <h1>€<%= product.price %></h1>
                            </div>                       
                            <div class="right-div">
                                <h4>Qty: <%= product.quantity %></h4>
                                <p>SKU: <%= product.id %></p>
                            </div>                        
                        </li>
                    </a>               
                <% }) %>
            </ul>   
        </main>
        <%- include("partials/footer") %>     
    </body>
</html>