<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <h1><%= product.name %></h1>
        <form action="/products/edit/<%=product.id%>" method="GET">
            <button type="submit">Edit</button>        
        </form>
        <form action="/products/delete/<%=product.id%>" method="POST">
            <button type="submit">Delete</button>        
        </form>
    </main>
    <%- include("partials/footer") %>    
</body>
</html>