<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <div class="card">
            <div class="nav-div">
                <a href="/products">
                    <svg class="arrow" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 " stroke="#727272"/></svg>
                    Back to all Products 
                </a>               
            </div>
            <div class="image-container">
                <img src="">
            </div>
            <div class="description">
                <h2><%= product.name %></h2>
                <h4>Qty: <%= product.quantity %></h4>
                <h1>€<%= product.price %></h1>
                <p><%= product.description %></p>
                <div class="buttons-container">
                    <form action="/products/edit/<%=product.id%>" method="GET">
                        <button type="submit">Edit</button>        
                    </form>
                    <form action="/products/delete/<%=product.id%>" method="POST">
                        <button type="submit">Delete</button>        
                    </form>
                </div>
            </div>
        </div>         
    </main>
    <%- include("partials/footer") %>    
</body>
</html>